<div class="character-card">
  <div class="character-card-header">
    <p class="card-header">{{name}}</p>
    <p class="card-text">{{health}}</p>
    <p class="card-text">{{damage}}</p>
    <p class="card-text">{{race}}</p>
    <p class="card-text">{{class.name}}</p>
    <p class="card-text">Created by: {{user.name}}</p>
  </div>
</div>
