<div class="character-card">
  <div class="character-card-header">
  {{#if isHuman}}<img style="max-width: 450px; max-height: 300px" class="center" src="https://i.imgur.com/xpOvM9R.png">
  {{else if isOrc}}<img style="max-width: 450px; max-height: 300px" class="center" src="https://i.imgur.com/I9lx7g7.png">
  {{else if isDwarf}}<img style="max-width: 450px; max-height: 300px" class="center" src="https://i.ibb.co/Sn3mp0V/Dwarf.png">
  {{else if isDragonborn}}<img style="max-width: 450px; max-height: 300px" class="center" src="https://i.imgur.com/xpOvM9R.png">
  {{else if isElf}}<img style="max-width: 450px; max-height: 300px" class="center" src="https://i.ibb.co/D9g6FVN/Elf.png">
  {{else if isGnome}}<img style="max-width: 450px; max-height: 300px" class="center" src="https://i.ibb.co/7N14p0d/Gnome.png">
  {{/if}}
    <p class="card-header charname">Character Name: {{name}}</p>
    <p class="card-text">Character Health: {{health}} HP</p>
    <p class="card-text">Character Damage: {{damage}} AP</p>
    <p class="card-text">Character Race: {{race}}</p>
    <p class="card-text">Character Class: {{class.name}}</p>
    <p class="card-text">Character Background: {{background}}</p>
    <p class="card-text">Created by: {{user.name}}</p>
  </div>
</div>



