<div class="character row" data-id={{id}}>
  <div class="col">
    <div class="card">

      <div class="character-image">
        {{#if isHuman}}<img  src="https://i.imgur.com/xpOvM9R.png">{{/if}}
        {{#if isOgre}}<img src="https://i.imgur.com/I9lx7g7.png">{{/if}}
        {{#if isDwarf}}<img src="https://i.ibb.co/Sn3mp0V/Dwarf.png">{{/if}}
        {{#if isElf}}<img src="https://i.ibb.co/D9g6FVN/Elf.png">{{/if}}
        {{#if isGnome}}<img src="https://i.ibb.co/7N14p0d/Gnome.png">{{/if}}
      </div>

      <div class="character-info">
        <h2>{{name}}</h2>
        <ul class="list-group">
          <li class="list-group-item"><b>Health:</b> {{health}} HP</li>
          <li class="list-group-item"><b>Damage:</b> {{damage}} AP</li>
          <li class="list-group-item"><b>Race:</b> {{race}}</li>
          <li class="list-group-item"><b>Class:</b> {{class.name}}</li>
          <li class="list-group-item"><b>Background:</b><br>{{background}}</li>
          <li class="list-group-item"><b>Created by: </b>{{user.name}}</li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div class="character-new-comment row">
  <div class="col">
    <h2>Comments</h2>
    <form class="comment-form">
      <div class="form-group">
        <textarea class="form-input" id="add-comment" name="add-comment" placeholder="Add New Comment"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post Comment</button>
      </div>
    </form>
  </div>
</div>

<div class="character-comments">
  <div class="row">
    {{#if comments.length}}
      <div class="col comment-list">

        {{#each comments as |comment|}}
        <div class="row">
              <h4>{{user.name}}: </h4>
              <p>{{comment.body}}</p>
        </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>

<script>
  const newFormHandler = async (event) => {
    const comment = document.querySelector("#add-comment").value.trim()
    const character_id = document.querySelector(".character").getAttribute("data-id")
    if (comment) {
      const response = await fetch('/api/comment', {
        method: "POST",
        body: JSON.stringify({ comment, character_id }),
        headers: {
          'Content-Type': 'application/json'
        },
      });
    }
  }
  document
    .querySelector('.comment-form')
    .addEventListener('submit', newFormHandler)
</script>