<div class="character-card">
  <div class="character-card-header">
  {{#if isHuman}}<img style="max-width: 450px; max-height: 300px" src="./assets/Human.png">
  {{else if isOrc}}<img style="max-width: 450px; max-height: 300px" src="./assets/Orc.png">
  {{else if isDwarf}}<img style="max-width: 450px; max-height: 300px" src="./assets/Dwarf.png">
  {{else if isDragonborn}}<img style="max-width: 450px; max-height: 300px" src="./assets/Dragonborn.png">
  {{else if isElf}}<img style="max-width: 450px; max-height: 300px" src="./assets/Elf.png">
  {{else if isUndead}}<img style="max-width: 450px; max-height: 300px" src="https://i.ibb.co/7N14p0d/Undead.png">
  {{/if}}
    <p class="card-header">{{name}}</p>
    <p class="card-text">{{health}}</p>
    <p class="card-text">{{damage}}</p>
    <p class="card-text">{{race}}</p>
    <p class="card-text">{{class.name}}</p>
    <p class="card-text">Created by: {{user.name}}</p>
  </div>
</div>

