<div class="character-card">
  <div class="character-card-header">
  {{#if isHuman}}<img style="max-width: 450px; max-height: 300px" src="https://i.ibb.co/qCqCf5p/human.png"/>
  {{else isOrc}}<img style="max-width: 450px; max-height: 300px" src="https://i.ibb.co/wR7ZfvK/Orc.png"/>
  {{else isDwarf}}<img style="max-width: 450px; max-height: 300px" src="https://i.ibb.co/mzV9csm/Dwarf.png"/>
  {{else isDragonborn}}<img style="max-width: 450px; max-height: 300px" src="https://i.ibb.co/PskWxV7/Dragonborn.png"/>
  {{else isElf}}<img style="max-width: 450px; max-height: 300px" src="https://i.ibb.co/5rxz3Md/Elf.png"/>
  {{else isUndead}}<img style="max-width: 450px; max-height: 300px" src="https://i.ibb.co/5k9SJSf/Undead.png"/>
  {{/if}}
    <p class="card-header">{{name}}</p>
    <p class="card-text">{{health}}</p>
    <p class="card-text">{{damage}}</p>
    <p class="card-text">{{race}}</p>
    <p class="card-text">{{class.name}}</p>
    <p class="card-text">Created by: {{user.name}}</p>
  </div>
</div>

